
<!-- Start scripts -->
<script src="{{ '/js/lib/angular.min.js' | relative_url }}{% if site.github.build_revision %}?v={{ site.github.build_revision }}{% endif %}"></script>
<script src="{{ '/js/lib/angular-touch.min.js' | relative_url }}{% if site.github.build_revision %}?v={{ site.github.build_revision }}{% endif %}"></script>

<script src="{{ '/js/app.js' | relative_url }}{% if site.github.build_revision %}?v={{ site.github.build_revision }}{% endif %}"></script>
<script src="{{ '/js/preloader.js' | relative_url }}{% if site.github.build_revision %}?v={{ site.github.build_revision }}{% endif %}"></script>
<!-- End scripts -->
