<!DOCTYPE html>
<html lang="de-de">
	{% include head.html %}

	<body>

		{% include header.html %}

		<aside>
			{{ content }}
		</aside>

		<section class="main-content" >

			{% assign chapter_groups = site.chapters | group_by: 'chapter_number' | sort: 'name', 'first' %}
			{% for chapter_group in chapter_groups %}

				{% assign chapters = chapter_group.items | sort: 'subchapter_number', 'first' %}
				{% for chapter in chapters %}

						{{ chapter.output }}

				{% endfor %}

			{% endfor %}

		</section>

		{% include footer.html %}

	</body>
</html>
