<!DOCTYPE html>
<html lang="de-de">
	{% include head.html %}

	<body>

		{% include header.html %}

		<aside>
			{{ content }}
		</aside>

		<section class="main-content" >

		{% assign current_chapter = '1' %}
		{% assign chapters = site.chapters | sort: 'number' %}

			<section class ="chapter chapter-1">

			{% for chapter in chapters %}
				{% assign main_chapter = chapter.number | split: "." | first %}
				{% if main_chapter != current_chapter %}
					{% assign current_chapter = main_chapter %}
					</section>
					<section class ="main-chapter chapter-{{current_chapter}}">	
				{% endif %}
						{{ chapter.output }}

			{% endfor %}

			</section>
			
		</section>

		{% include footer.html %}

	</body>
</html>
