<!DOCTYPE html>
<html lang="de-de">
	{% include head.html %}

	<body>

		{% include header.html %}

		<aside>
			{{ content }}
		</aside>

		<section class="main-content" >

			{% assign main_chapter_groups = site.chapters | group_by: 'chapter_number' | sort: 'name', 'first' %}
			{% for main_chapter_group in main_chapter_groups %}

						{% assign sub_chapter_groups = main_chapter_group.items | group_by: 'subchapter_number' | sort: 'name', 'first' %}
						{% for sub_chapter_group in sub_chapter_groups %}

									{% assign sub_sub_chapter_groups = sub_chapter_group.items | group_by: 'subsubchapter_number' | sort: 'name', 'first' %}
									{% for sub_sub_chapter_group in sub_sub_chapter_groups %}

												{% assign chapters = sub_sub_chapter_group.items |sort: 'subsubsubchapter_number' %}
												{% for chapter in chapters %}

													{{ chapter.output }}
													
												{% endfor %}

									{% endfor %}

						{% endfor %}

			{% endfor %}

		</section>

		{% include footer.html %}

	</body>
</html>
