<!DOCTYPE html>
<html lang="en-us">
    <head>
        <base href = "{{ site.git.url }}">
        <meta charset="UTF-8">
        <title>Handbuch-jugend-hackathons by Jugendhackt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
    </head>
    <body>          
        <h1 class="project-tagline">Handbuch Jugend-Hackathons</h1>     

        <section class="main-content">
            {% include toc.html %}

            <h2>{{ page.title }}</h2>
            {{ content }}
        </section>
    </body>
</html>
