<!DOCTYPE html>
<html lang="en-us">
    <head>
        <base href = "{{ site.github.url }}">
        <meta charset="UTF-8">
        <title>Handbuch-jugend-hackathons by Jugendhackt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">    

        <link type="text/css" rel="stylesheet" href="styles/styles.css"></link>

    </head>
    <body>
        <div id = "panel">          
            <h1>Handbuch Jugend-Hackathons</h1>     
            <nav>
                {% include toc.html %}
            </nav>
        </div>

        <section class="main-content">
            <h2>{{ page.title }}</h2>
            {{ content }}
        </section>
    </body>
</html>
