
@font-face { font-family: 'fira-sans-semi-bold'; 	src: url('../fonts/FiraSans-SemiBold.otf')		format('opentype'); }
@font-face { font-family: 'fira-sans-light'; 		src: url('../fonts/FiraSans-Light.otf')			format('opentype'); }
@font-face { font-family: 'fira-sans-regular'; 		src: url('../fonts/FiraSans-Regular.otf')		format('opentype'); }


body,
html {
	padding:			0;
	margin:				0;
	min-height:			100%;
	font-family:		fira-sans-light, sans-serif;
	overflow-x:			hidden;
}

h1,h2,h3,h4 {
	font-family: 		fira-sans-regular;
	font-weight:		normal;
}

ul {
	list-style: 		none;
	padding:			0;
	margin:				0;
}

a {
	text-decoration:	none;
	color:				inherit;
	color:				#4488ff;
	font-family:		fira-sans-regular;
}

strong {
	font-family:		fira-sans-semi-bold;
	font-weight:		normal;
}


header {
	position:			fixed;
	top:				0;
	left:				0;
	width:				18rem;
	bottom:				10rem;
	padding:			1rem;
	background:			#fff;
}

aside {
	position:			fixed;
	left:				0;
	bottom:				0;
	width:				18rem;
	padding:			1rem;
	height:				auto;
	text-align:			justify;
	background:			#fff;
	font-size:			0.9rem;
}

#toc li {
	display:			block;
	white-space:		normal;
	word-break:			break-all;
	text-align:			right;
	margin-bottom:		0.5rem;
}

#toc li a {
	color:				inherit;
	font-family:		fira-sans-light;
}

#toc li .chapter-number {
	float:				left;
	text-align:			left;
	font-family:		fira-sans-regular;
}
#toc .chapter_group {
	margin-bottom:		1.5rem;
}


section.main-content {
	display:			block;
	max-width:			40rem;
	margin-left:		20rem;
	padding:			0 5rem;
}


h2 {
	margin-top:			5rem;
}